* {
	 box-sizing: border-box;
	 padding: 0;
	 margin: 0;
}
 body {
	 font-family: 'Roboto', sans-serif;
	 font-size: 0.925rem;
}
 a {
	 text-decoration: none;
}
 .container {
	 position: relative;
	 margin-left: auto;
	 margin-right: auto;
	 padding-left: 15px;
	 padding-right: 15px;
}
 .navbar, .navbar .container {
	 width: 100%;
	 display: flex;
	 flex-wrap: wrap;
	 align-items: center;
	 justify-content: space-between;
}

 .navbar {
	 padding: 1.15rem 1rem;
	 box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
	 background-color: #fff;
}

 .navbar .navbar-header {
	 display: flex;
	 align-items: center;
}

 .navbar .navbar-header > a span {
	 color: rgb(127, 127, 245);
}
 .navbar .navbar-header h4 {
	 font-weight: 500;
	 font-size: 1.25rem;
	 color:dimgrey;
}

.menu {
  display: block;
  z-index: 999999;
  width: 80%;
  margin: 0 auto;
}
.menu li {
  display: inline-block;
  position: relative;
}
.menu li.dropdown:hover > .submenu {
  display: block;
}
.menu li a {
  display: block;
  color: black;
  padding: 12px 15px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 20%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.menu > li a span {
	 color: rgb(127, 127, 245);
	 font-style: italic;
	 margin-left: 22%;
}

.menu li.dropdown > a::after {
  font-style: normal;
  font-weight: 400;
  margin-left: 8px;
  font-size: 10px;
}
.menu li a::before {
  font-style: normal;
  font-weight: 400;
  margin-right: 8px;
}
.menu li a:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
}

.menu .submenu {
  display: none;
}
.submenu {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  list-style-type: none;
  display: block;
  width: 200px;
  z-index: 9;
}
.submenu li {
  display: block;
}
.submenu li a {
  display: block;
  background: white;
  color: black;
  padding: 8px 6px;
  margin-bottom: 1px;
}
.menu .submenu > li.dropdown:hover > .submenu {
  display: block;
}

.menu .submenu .submenu {
  position: absolute;
  left: 200px;
  top: 0px;
}

.submenu li.dropdown > a:after {
  font-style: normal;
  font-weight: 400;
  margin-left: 8px;
  font-size: 10px;
}


.cell{
	border-radius: 20px;
	background-color:white;
	box-shadow: 10px 5px 15px #3c42504d;
	padding: 20px;
	width: 90vw;
	display: block;
  	margin-left: auto;
	margin-top: 20px;
  	margin-right: auto;
}
.skeletonCell{
	border-radius: 20px;
	background-color:white;
	border-style:dotted;
	border-color: #3c42504d;
	padding: 20px;
	width: 90vw;
	height: 70px;
	display: block;
	margin-left: auto;
	margin-top: 20px;
	margin-right: auto;
}

.markedForDeletion{
	border-style: dotted;
	border-color: rgba(255, 0, 0, 0.521);
	background-color: rgba(255, 0, 0, 0.11);
}

.CodeMirror{
  height: auto;
  background-color: transparent;
}