* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Roboto", sans-serif;
	font-size: 0.925rem;
}
a {
	text-decoration: none;
}

.script-language-icon {
	color: rgb(242, 242, 242);
	height: calc(1rem + 0.5vw);
	width: calc(1rem + 0.5vw) !important;
	margin: 0.2rem;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.navbar,
.navbar .container, .bottom-panel .container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.navbar {
	padding: 1.15rem 1rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
	background-color: #fff;
	position: fixed;
	top: 0;
	z-index: 3;
}

.bottom-panel{
	
	box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.035);
	background-color: #fff ;
	position: fixed;
	bottom: 0;
	z-index: 3;
	border-radius: 50px 50px 0 0;
	width: 100%;
	height: 0;
	padding-left: 10px;
	padding-right: 10px;
}


.expander{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	box-shadow: 0.1rem -0.3rem 1rem rgba(0, 0, 0, 0.035);
	top: -30px;
	height: 30px;
	width: 100px;
	border-radius: 50px 50px 0 0;
	display: flex;
	cursor: pointer;
}

.python-info-container{
	width: 30%;
}

.expander-icon{
	margin:auto
}

.navbar .navbar-header {
	display: flex;
	align-items: center;
}

.navbar .navbar-header > a span {
	color: rgb(127, 127, 245);
}
.navbar .navbar-header h4 {
	font-weight: 500;
	font-size: 1.25rem;
	color: dimgrey;
}

.status-container{
	margin-left: auto;
    align-self: center;
	display: flex;
}

#run-status{
	color: rgb(127, 127, 245);
	font-style: italic;
	font-weight: 900;
}


.menu {
	display: flex;
	z-index: 999999;
	width: 80%;
	margin: 0 auto;
}
.menu li {
	display: inline-block;
	position: relative;
	background-color: white;
}
.menu li.dropdown:hover > .submenu {
	display: block;
}
.menu li a {
	display: block;
	color: black;
	padding: 12px 15px;
	cursor: pointer;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 20%;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.menu > li a span {
	color: rgb(127, 127, 245);
	font-style: italic;
	margin-left: 22%;
}

.menu li.dropdown > a::after {
	font-style: normal;
	font-weight: 400;
	margin-left: 8px;
	font-size: 10px;
}
.menu li a::before {
	font-style: normal;
	font-weight: 400;
	margin-right: 8px;
}
.menu li a:hover {
	background-color: rgb(230, 230, 230);
	border-radius: 20px;
}

.menu li:last-child,
.menu li:last-child a {
	border-radius: 0px 0px 20px 20px;
}

.menu .submenu {
	display: none;
}
.submenu {
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 0px;
	list-style-type: none;
	display: block;
	width: 200px;
	z-index: 9;
}
.submenu li {
	display: block;
}
.submenu li a {
	display: block;
	background: white;
	color: black;
	padding: 8px 6px;
	margin-bottom: 1px;
	cursor: pointer;
}
.menu .submenu > li.dropdown:hover > .submenu {
	display: block;
}

.menu .submenu .submenu {
	position: absolute;
	left: 200px;
	top: 0px;
}

.submenu li.dropdown > a:after {
	font-style: normal;
	font-weight: 400;
	margin-left: 8px;
	font-size: 10px;
}

.skeletonCell {
	border-radius: 20px;
	background-color: white;
	border-style: dotted;
	border-color: #3c42504d;
	width: 80%;
	height: calc(1.25rem + 30px);
	margin: 2rem auto 2rem auto;
	text-align: center;
}

.skeletonText {
	width: 0%;
	font-weight: 800;
	color: #3c425069;
	font-size: x-large;
	margin: 0;
  	position: relative;
  	top: 15%;
}

.markedForDeletion {
	border: 2px dotted rgba(255, 0, 0, 0.521);
	background-color: rgba(255, 0, 0, 0.11);
	border-radius: 20px;
}

#notebook-contents {
	background-color: rgba(255, 255, 255, 0.938);
	width: 90vw;
	margin: 6rem auto 1rem auto;
	min-height: 100px;
	height: auto;
	border-radius: 20px;
	padding: 10px 0 10px 0;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.cell {
	border: 15px;
	height: min-content;
	position: relative;
	width: 80%;
	margin: 1rem auto 2rem auto;
}

.cell-script.selected {
	border-color: transparent;
	box-shadow: 0 0 0 3.2px rgb(0, 153, 255);
}

.cell-script {
	border-radius: 12.5px;
	border: 3px solid rgba(0, 0, 0, 0.589);
	background-color: rgb(238 238 238 / 46%);
	position: relative;
}

.cell-result {
	width: 100%;
	background-color: rgba(231, 231, 231, 0.26);
	margin: 0.5rem auto auto auto;
	padding: 10px;
	border-radius: 5px;
}

.hidden {
	display: none;
}

.CodeMirror {
	height: auto;
	background-color: transparent;
	margin-right: 150px;
}
/* PADDING */
.CodeMirror-lines {
	padding: 15px; /*padding around content */
}

.script-language-selector {
	margin: 0px;
	position: absolute;
	right: 0;
	z-index: 7;
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
}

.script-language-radio {
	margin-left: 5px;
	margin-right: 10px;
}

.script-language-icon {
	margin-right: 5px;
	color: gray;
}

.arrow-container{
	display: grid;
	position: absolute;
	top: 0;
	left: -40px;
	height: 100%;
	align-content: space-around;
}


#radios label {
	position: relative;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

input[type="radio"] + svg,
.run-button + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
}

input[class="script-language-radio javascript"]:hover + svg,
input[class="script-language-radio javascript"]:checked + svg,
input[class="script-language-radio javascript"]:focus + svg {
	color: rgb(255, 238, 0);
}

input[class="script-language-radio python"]:hover + svg,
input[class="script-language-radio python"]:checked + svg,
input[class="script-language-radio python"]:focus + svg {
	color: rgb(41, 148, 255);
}

input[class="script-language-radio html"]:hover + svg,
input[class="script-language-radio html"]:checked + svg,
input[class="script-language-radio html"]:focus + svg {
	color: rgb(255, 87, 34);
}

.run-button > svg {
	color: rgb(0, 211, 0);
	height: calc(1rem + 0.5vw);
	width: calc(1rem + 0.5vw) !important;
	margin: 0.2rem 0.2rem 0.2rem 0.5rem;
}

.run-button:hover > svg {
	color: rgb(0, 255, 0);
}

.separator {
	border-left: 1px solid rgb(126, 126, 126);
	height: 100%;
	font-size: xx-large;
	border-radius: 10px;
	margin-left: 0.2rem;
	opacity: 0.5;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}

.modal .content {
  position: relative;
  padding: 30px;
  width: 40vmax;
  height: 60vmin;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: rgba(112, 128, 175, 0.2) 0px 16px 24px 0px;
  transform: scale(0);
  transition: transform 300ms cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal.open .content {
  transform: scale(1);
}

.container.blur {
  filter: blur(5px);
}

h1{
  font-weight: 300;
  font-size: 2.5vw;
  white-space: nowrap;
}

h1 span{
	color: rgb(127, 127, 245);
}

.content a{
	color: rgb(127, 127, 245);
	font-size: 20px;
	font-weight: 400;
}

.content  a.action{
	font-size: 30px;
	cursor: pointer;
}

.menu-buttons{
	display: flex;
	flex-direction: column;
	height: 90%;
	justify-content: space-around;
}

.content a.action:hover{
	font-weight: 700;
}

.examples-display{
	display: flex;
	flex-direction: row;
}

.example-cell{
	width: 20vmin;
	height: 20vmin;
	padding: 20px;
	margin-right: 10px;
	background-color: rgba(240, 239, 239, 0.801);
	border-radius: 30px;
}


.example-cell:hover{
	background-color: rgba(207, 207, 207, 0.801);
	cursor: pointer;
}

.example-cell h2, .example-cell h3, .example-cell h4{
	font-weight: 300;
}

.pickup{
	display: none;
}